<button type="button" class="absolute top-0 right-1 h-full flex items-center" data-action="password-visibility#toggle">
  <span data-password-visibility-target="icon"><%= render partial: 'icons/eye' %></span>
  <span data-password-visibility-target="icon" class="hidden"><%= render partial: 'icons/eye_slash' %></span>
</button>
